$.fancybox(
		'<h3>Your message has been sent!</h3>',
		{
			'autoDimensions'	: false,
			'width'         		: 350,
			'height'        		: 'auto',
			'transitionIn'		: 'none',
			'transitionOut'		: 'none'
		}
	);
