<div id="photosetedit-form">
	<h2>Edit Photoset</h2>
  <%= form_for @set, 
                    :as => :set, 
                    :url => { :controller => :photoset, 
                              :action => :update },
                    :remote => true do |f| %>
    <p>
      <%= f.label :set_id %>:<br>
      <%= f.text_field :set_id %>      
    </p>
    <div id="bottom">
      <%= f.submit "Send" %>
      <div id="result"></div>
    </div>
  <% end %>
</div>
