$.fancybox(
		'<h3>Photoset_id has been updated</h3>',
		{
			'autoDimensions'	: false,
			'width'         		: 350,
			'height'        		: 'auto',
			'transitionIn'		: 'none',
			'transitionOut'		: 'none'
		}
	);
